# after everything else, startup the shell with job control enabled
exec /init.d/S30-shell /bin/setsid -c /bin/bash

# core utils
/bin/bash
symlink bash bin/sh
/usr/bin/mount
/usr/bin/umount
/usr/bin/cp
/usr/bin/mv
/usr/bin/cmp
/usr/bin/ls
/usr/bin/cat
/usr/bin/echo
/usr/bin/head
/usr/bin/tail
/usr/bin/mkdir
/usr/bin/setsid
/usr/bin/dd
/usr/bin/dirname
/usr/bin/grep
/usr/bin/xxd
/usr/bin/mktemp
/usr/bin/date
/usr/bin/printf
/usr/bin/rm
/usr/bin/sleep
/usr/bin/tar
/usr/bin/cpio
/usr/bin/gzip

# disk management
/sbin/fdisk
/sbin/mkfs.ext4
/sbin/mkfs.vfat
/sbin/fsck.vfat
/usr/sbin/losetup

# networking stuff
/usr/bin/openssl
/usr/bin/curl
/usr/bin/ping
/usr/bin/nc
/usr/sbin/ifconfig
/usr/sbin/route
#/usr/bin/efibootmgr

# cryptdisk setup
/sbin/cryptsetup
/sbin/dmsetup
/sbin/lvm

# inventory collection
/usr/sbin/dmidecode
/usr/bin/lshw
