# binary to initialize the system before execing sshd
linux-builder/init /

# sshd program and the invocation after tinyinit has finished
/usr/sbin/sshd
exec /bin/sshd -D -e

etc/passwd /etc
etc/shadow /etc
etc/hosts /etc
#etc/services /etc

# home directories for the sshd and jump users
mkdir /run/sshd 700
mkdir /run/jump

# config, host key and CA cert
etc/sshd_config				/etc/ssh
etc/user_ca.pub				/etc/ssh
build/etc/ssh/ssh_host_rsa_key		/etc/ssh
build/etc/ssh/ssh_host_rsa_key.pub	/etc/ssh
build/etc/ssh/ssh_host_rsa_key-cert.pub	/etc/ssh

# files that are dynamically generated
mkdir /etc
symlink /proc/mounts /etc/mtab
symlink /proc/net/pnp /etc/resolv.conf

# dynamic libraries for name resolution
/lib/x86_64-linux-gnu/libresolv.so.2 /lib64
/lib/x86_64-linux-gnu/libnss_dns.so.2 /lib64
/lib/x86_64-linux-gnu/libnss_files.so.2 /lib64
/lib/x86_64-linux-gnu/libnss_compat.so.2 /lib64

# fake shell for the jump user
/sbin/nologin

