# nginx stuff
mkdir /etc/nginx
mkdir /run/www-data
mkdir /var/log/nginx
mkdir /var/lib/nginx
mkdir /var/cache/nginx
mkdir /etc/nginx/conf.d
mkdir /etc/nginx/sites-enabled
mkdir /usr/lib/nginx/modules
mkdir /usr/share/nginx/modules

# don't let it log to disk
symlink var/log/nginx/error.log /dev/console
symlink var/log/nginx/access.log /dev/console

# some default configurations
etc/nginx/ /etc/nginx

/usr/sbin/nginx
exec /init.d/S20-nginx /bin/nginx

# recursively copy over the user's nginx configuration
# and letsencrypt keys.
../local/etc/nginx/ /etc/nginx
-../local/etc/letsencrypt/live/ /etc/letsencrypt/live/
-../local/etc/letsencrypt/options-ssl-nginx.conf /etc/letsencrypt/
-../local/etc/letsencrypt/ssl-dhparams.pem /etc/letsencrypt/

#etc/nginx/nginx.conf etc/nginx/
#etc/nginx/mime.types etc/nginx/
#etc/nginx/sites-enabled/default etc/nginx/sites-enabled/
#etc/nginx/index.html var/www/html/

# hardcoded list for now from nginx-extras and nginx-full
#/usr/share/nginx/modules/ndk_http_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_auth_pam_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_cache_purge_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_dav_ext_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_echo_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_fancyindex_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_geoip2_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_geoip_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_headers_more_filter_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_image_filter_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_lua_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_perl_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_subs_filter_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_uploadprogress_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_upstream_fair_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_http_xslt_filter_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_mail_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_nchan_module.so /usr/share/nginx/modules
#/usr/share/nginx/modules/ngx_stream_module.so /usr/share/nginx/modules

