# nginx stuff
mkdir /etc/nginx
mkdir /run/www-data
mkdir /var/log/nginx
mkdir /var/lib/nginx

# don't let it log to disk
symlink var/log/nginx/error.log /dev/console
symlink var/log/nginx/access.log /dev/console

etc/nginx/nginx.conf etc/nginx/
etc/nginx/mime.types etc/nginx/
etc/nginx/sites-enabled/default etc/nginx/sites-enabled/
etc/nginx/index.html var/www/html/

/usr/sbin/nginx
exec /bin/nginx
