# sshd program and the invocation after tinyinit has finished
# without syslog, use -D -e to stay in the foreground
# with syslog, detach and write to it
/usr/sbin/sshd
exec /init.d/S20-sshd /bin/sshd

# home directories for the sshd and jump users
mkdir /run/sshd 700
mkdir /run/jump

# static config
etc/sshd_config				/etc/ssh

# generated host key and CA cert
../build/etc/user_ca.pub		/etc/ssh
../build/etc/ssh/ssh_host_rsa_key	/etc/ssh
../build/etc/ssh/ssh_host_rsa_key.pub	/etc/ssh
../build/etc/ssh/ssh_host_rsa_key-cert.pub /etc/ssh
