# binary to initialize the system before execing
# the user applications
../linux-builder/init /
mkdir /init.d

# basic user accounts (all of them are nologin)
mkdir /etc
etc/passwd /etc
etc/shadow /etc
etc/hosts /etc
etc/group /etc

# fake shell for the users
/sbin/nologin

# files that are dynamically generated
symlink /proc/mounts /etc/mtab
symlink /proc/net/pnp /etc/resolv.conf

# dynamic libraries for name resolution
/lib/x86_64-linux-gnu/libresolv.so.2 /lib64
/lib/x86_64-linux-gnu/libnss_dns.so.2 /lib64
/lib/x86_64-linux-gnu/libnss_files.so.2 /lib64
/lib/x86_64-linux-gnu/libnss_compat.so.2 /lib64

